<!DOCTYPE html>
<html>

  <head>
    <title>LOTTO NUM</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">

    <!--Vuetify 스타일 링크-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script type="module" src="index.js"></script> 
  </head>
  
  <body>
    <div id="app">

        <v-app>
        <v-app-bar app flat color="#E1BEE7" dense elevation="4">
          <v-app-bar-nav-icon></v-app-bar-nav-icon>
          <v-toolbar-title>𝓵𝓸𝓽𝓽𝓸 𝓷𝓾𝓶𝓫𝓮𝓻</v-toolbar-title>
          <v-btn icon>
            <v-icon>mdi-heart</v-icon>
          </v-btn>
        </v-app-bar>
          <v-main>       
              <div>
              <h1>{{subject}}</h1>
              </div>
            <!-- <div class ="row">
              <label class="col-auto">로또번호 : </label>
              <v-col md="3">
              <v-text-field v-model="lotto_numbers"></v-text-field>
              </v-col>
              <v-btn @click="auto_check" depressed color="primary">실행</v-btn>
            </div>
            <div>
              <v-row >
              <v-avatar v-for="(lotto_number,index) in lotto_number_list " :color="color_list[index]" size="56"  value="Y"><span class="white--text text-h5"></span>{{lotto_number}}</v-avatar>
            </v-row>
            </div>
            <div class = "form-check form switch">
              <v-checkbox type="checkbox" v-model="auto" label="자동" color="indigo" @change="button_number"></v-checkbox>
            </div> -->

            <div>
              <hr>
              <br>
              <div class="row">
                <label class="col-auto">로또번호 생성기</label>
                <v-btn type="button" @click="button_number" text color="primary">실행</v-btn>
                <v-btn type="button" @click="reset" text color="error"> 초기화</v-btn>
              </div>
              <div>
                <v-row >
                <v-avatar v-for="(lotto_number,index) in lotto_number_list " :color="color_list[index]" size="56"  value="Y"><span class="white--text text-h5"></span>{{lotto_number}}</v-avatar>
              </v-row>
              </div>
              <!-- <v-radio-group row>
                <v-radio v-model="auto" value="Y" @change="button_number" label="자동"></v-radio>
                <v-radio v-model="auto" value="N"  @change="auto_check"  label="수동"></v-radio>
                <v-btn type="button" @click="reset" text color="error"> 초기화</v-btn>
              </v-radio-group> -->
            </div>

            </v-container>
          </v-main>
      
        </v-app>

    </div>

  </body>
</html>